<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smbms.mapper.BillMapper">
    <resultMap id="BillLike" type="com.smbms.entity.Bill">
        <result property="proName" column="proName"/>
    </resultMap>
    <select id="getLike" resultMap="BillLike">
        SELECT a1.id,a1.billCode,a1.productName,a2.proName,a1.totalPrice,a1.isPayment,a1.creationDate
        FROM smbms_bill a1,smbms_provider a2
        WHERE a1.providerId=a2.id
        AND a1.productName LIKE "%"#{name}"%" AND a2.id=#{id} AND a1.isPayment=#{isPayment}
    </select>

    <resultMap id="BillLike1" type="com.smbms.entity.Bill">
        <association property="provider" javaType="com.smbms.entity.Provider">
            <result column="proCode" property="proCode"/>
            <result column="proName" property="proName"/>
            <result column="proPhone" property="proPhone"/>
            <result column="proContact" property="proContact"/>
        </association>
    </resultMap>
    <select id="getLike1" resultMap="BillLike1">
        SELECT a1.id,a1.billCode,a1.productName,a2.proCode,a2.proName,a2.proContact,a2.proPhone,a1.totalPrice,a1.isPayment
        FROM smbms_bill a1,smbms_provider a2
        WHERE a1.providerId=a2.id
        AND a1.productName LIKE "%"#{name}"%" AND a2.id=#{id} AND a1.isPayment=#{isPayment}
    </select>

    <select id="getLimit" resultType="com.smbms.entity.Bill">
        SELECT * FROM smbms_bill ORDER  BY creationDate DESC
        <if test="pageSize!=null and fromIndex!=null">
            LIMIT #{fromIndex},#{pageSize}
        </if>
    </select>
</mapper>